<html>
    <head>
        <title>My First blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">My First Blog</a></h1>
        </div>

        <div>
            <p>published: 24.08.2017, 19:29</p>
            <h2><a href="">My first post</a></h2>
            <p>sadfvrgvksughesrctshntevrtger ervtovhtserhgvsrhgcrguihrg</p>
        </div>

        <div>
            <p>published: 24.08.2017, 19:29</p>
            <h2><a href="">My second post</a></h2>
            <p>sadfvrgvksughesrctshntevrtger ervtovhtserhgvsrhgcrguihrg</p>
        </div>
    </body>
</html>
